body, html, div, p { margin:0;padding:0;font-family:"Microsoft YaHei","宋体",Arial;font-size:14px;line-height:30px;background:#fff;color:#454545;}
.error-box { background:url(images/errorbg.jpg) no-repeat;min-width:678px;height:238px;position:relative;margin:50px;}
.error-info { position:absolute;left:165px;bottom:40px;}
