@using Banana.Core.Base
@{
    ViewBag.Title = "SysMenu";
}

@section head{
    @Scripts.Render("~/Scripts/Bus/Base/js/sysmenu.js")
}

<div class="easyui-layout" data-options="fit:true">
    <div id="toolbar" class="datagrid-toolbar">
       @Html.Toolbar()
        <div class="lab_Search" style=""> 
            <input id="txtSearch" class="easyui-searchbox searchbox-f" style="width: 150px; display: none;" data-options="searcher:CRUD.Read,prompt:'模块名称'">
        </div>
    </div>
    <div data-options="region:'center'">
        <div id="dataGrid"></div>
    </div>
</div>
