@{
    ViewBag.Title = "SysMenu";
}

@section head{
    @Scripts.Render("~/Scripts/Bus/Base/js/sysmenu.js")
}

<div class="easyui-layout" data-options="fit:true">
    <div id="toolbar" class="datagrid-toolbar">
        <a href="javascript:void(0);" onclick="CRUD.Read();" class="easyui-linkbutton l-btn l-btn-plain" iconcls="fa fa-refresh" plain="true" title="刷新">刷新</a>
        <a href="javascript:void(0);" onclick="CRUD.Add();" class="easyui-linkbutton l-btn l-btn-plain" iconcls="fa fa-plus-circle" plain="true" title="添加">添加</a>
        <a href="javascript:void(0);" onclick="CRUD.Edit();" class="easyui-linkbutton l-btn l-btn-plain" iconcls="fa fa-pencil" plain="true" title="添加">修改</a>
        <a href="javascript:void(0);" onclick="CRUD.Delete();" class="easyui-linkbutton l-btn l-btn-plain" iconcls="fa fa-trash" plain="true" title="删除">删除</a>

        <div class="lab_Search" style="">
            <input id="txtSearch" class="easyui-searchbox searchbox-f" style="width: 150px; display: none;" data-options="searcher:CRUD.Read,prompt:'姓名'">
        </div>
    </div>
    <div data-options="region:'center'">
        <div id="dataGrid"></div>
    </div>
</div>
