@using Banana.Core.Base
@{
    ViewBag.Title = "Index";
}

@section head{
    @Scripts.Render("~/Scripts/Bus//User/js/user.js", 
                    "~/Scripts/Plugin/SWFUpload.js")
}

<div class="easyui-layout" data-options="fit:true">
    <div id="toolbar" class="datagrid-toolbar">
         @Html.ToolbarE()
        <div class="lab_Search" style="">
            <input id="txtSearch" class="easyui-searchbox searchbox-f" style="width: 150px; display: none;" data-options="searcher:CRUD.Read,prompt:'姓名'">
        </div>
    </div>
    <div data-options="region:'center'">
        <div id="dataGrid"></div>
    </div>
</div>
