@using Banana.Core.Base
@{
    ViewBag.Title = "Index";
}

@section head{
    @Scripts.Render("~/Scripts/Bus//Blog/js/Blog.js")
}

<div class="easyui-layout" data-options="fit:true">
    <div id="toolbar" class="datagrid-toolbar">
      @Html.Toolbar()
    </div>
    <div data-options="region:'center'">
        <div id="dataGrid"></div>
    </div>
</div>