<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Banana.CheckInBll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Banana.CheckInBll.Properties.Settings>
            <setting name="Banana_CheckInBll_com_longruan_android_MyService"
                serializeAs="String">
                <value>http://android.longruan.com/BServer/services/MyService</value>
            </setting>
        </Banana.CheckInBll.Properties.Settings>
    </applicationSettings>
</configuration>