* { font-family: "Microsoft YaHei"; font-size: 14px; line-height: 24px; background: transparent; background-color: transparent; }
.main-box{ background: transparent; background-color: transparent;border-right:1px solid #ccc;overflow:hidden;}
.widfull { width:100%!important;}
.wrap { background:url(../images/exam/bg.jpg) no-repeat 0 bottom;}
.history-box { width:350px;background:#fff;border-left:1px solid #EFF4F0;}
.history-h { font-size:16px;height:40px;line-height:40px;padding:0 10px;font-weight:400;border-bottom:1px solid #217ABC;}
.history-grid { height:90%;}
.history-grid .datagrid-cell { padding:5px;}
.history-grid .datagrid-header-row { font-weight:700;}
.history-grid .datagrid-body td, .history-grid .datagrid-footer td { border-width:0 0 1px 0;}
.history-grid .tree-title,.history-grid .datagrid-cell,.history-grid .datagrid-header .datagrid-cell span { font-size:14px;}
.g,.b,.o,.r { height:150px;overflow:hidden;background:url(../images/exam/shadow.png) 0 bottom repeat-x;position:relative;}
.status-ball { background:url(../images/exam/g.png) no-repeat;width:114px;height:114px;float:left;margin:15px 30px 0 18px;}
.score {font-size:75px;display:block;text-align:center;height:114px;line-height:114px;font-family:"Trebuchet MS";text-shadow:0 2px 3px rgba(0,0,0,.6);color:#fff; }
.rotate { background:url(../images/exam/rotate.png) no-repeat;position:absolute;width:96px;height:96px;left:25px;top:25px;-moz-animation:rotating .4s linear infinite;-webkit-animation:rotating .4s linear infinite;-ms-animation:rotating .4s linear infinite;animation:rotating .4s linear infinite;display:none;}

@-moz-keyframes rotating {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes rotating {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-ms-keyframes rotating {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); }
}
@keyframes rotating {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.r .status-ball { background:url(../images/exam/r.png) no-repeat;}
.o .status-ball { background:url(../images/exam/o.png) no-repeat;}
.b .status-ball { background:url(../images/exam/b.png) no-repeat;}
.g .status-ball { background:url(../images/exam/g.png) no-repeat;}
.infor-box { float:left;}
.content-intro,.checking,.check-over { overflow:hidden;margin:45px 0 0;}
.checking, .check-over,.checking-show { display:none;}
.check-over{ margin-top:30px;}
.intro-h,.checking-h,.check-over-h {font-size:20px;color:#333;margin:0;font-weight:400; }
.check-over-h { line-height:84px;height:84px;margin-bottom:-30px;}
.intro-p,.check-over-p { color:#888;}
.total-items,.error-items { color:#c00;}
.checking-h { float:left;margin:0 8px 0 0;}
.checking-p { float:left;color:#0F73BE;}
.process-bar { background:url(../images/exam/bar.png) no-repeat;height:13px;width:558px;padding:1px;clear:both;}
.real-bar { height: 13px; width: 0;border-radius:5px; }
.g .total-score { color:#7DD52F;}
.b .total-score { color:#1187EB;}
.o .total-score { color:#E76211;}
.r .total-score { color:#E71111;}
.g .real-bar{
background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#7DD52F), to(#BDF70C)); 
background: -webkit-linear-gradient(left, #7DD52F, #BDF70C); 
background: -moz-linear-gradient(left, #7DD52F, #BDF70C); 
background: -o-linear-gradient(left, #7DD52F, #BDF70C); 
background: -ms-linear-gradient(left, #7DD52F, #BDF70C); 
filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#7DD52F', endColorStr='#BDF70C', gradientType=1);}
.b .real-bar{
background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#1187EB), to(#2EB2FF)); 
background: -webkit-linear-gradient(left, #1187EB, #2EB2FF); 
background: -moz-linear-gradient(left, #1187EB, #2EB2FF); 
background: -o-linear-gradient(left, #1187EB, #2EB2FF); 
background: -ms-linear-gradient(left, #1187EB, #2EB2FF); 
filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#1187EB', endColorStr='#2EB2FF', gradientType=1);}
.o .real-bar{
background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#E76211), to(#FEB10C)); 
background: -webkit-linear-gradient(left, #E76211, #FEB10C); 
background: -moz-linear-gradient(left, #E76211, #FEB10C); 
background: -o-linear-gradient(left, #E76211, #FEB10C); 
background: -ms-linear-gradient(left, #E76211, #FEB10C); 
filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E76211', endColorStr='#FEB10C', gradientType=1);}
.r .real-bar{
background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#E71111), to(#FF682E)); 
background: -webkit-linear-gradient(left, #E71111, #FF682E); 
background: -moz-linear-gradient(left, #E71111, #FF682E); 
background: -o-linear-gradient(left, #E71111, #FF682E); 
background: -ms-linear-gradient(left, #E71111, #FF682E); 
filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E71111', endColorStr='#FF682E', gradientType=1);}


.total-score {font-size:45px;font-style:italic;font-family:"Trebuchet MS";color:#84df32; }
.check-list { height:300px;overflow-y:auto;clear:both;}
.mine-block { margin:0 15px 0 25px;border-bottom:1px dotted #DAE7E2;}
.dt-hover { background:#F8FDC9;}
.mine-block dt,.mine-block dd{ margin:5px 0;padding:0;}
.mine-block dt { font-size:15px;color:#077FEF;cursor:pointer;margin:0;padding:5px 0;}
.mine-block dt span{ color:#666;}
.mine-block dt .fa { color:#077FEF;margin:0 4px 0 0;font-size:16px;width:16px;text-align:center;}
.mine-score { font-family:"Trebuchet MS";font-size:22px;color:#222;font-style:italic;}
.mine-block dd { text-indent:2em;color:#888;display:none;}
.refreshing-icon,.warning-icon,.checked-icon,.error-icon { background:url(../images/exam/refresh.gif) no-repeat left center;padding:0 10px;}
.warning-icon { background:url(../images/exam/warn.png) no-repeat left center;}
.checked-icon { background:url(../images/exam/ok.png) no-repeat left center;}
.error-icon { background:url(../images/exam/error.png) no-repeat left center;}

.before-check-box { padding-top:10%;}
.select-box { width:406px;margin:0 auto;height:50px;}
.select-box .combo { float:left;margin:0 10px;border:0 none;}
.year .combo { background:url(../images/exam/yearbtn.png) no-repeat;}
.month .combo { background:url(../images/exam/monthbtn.png) no-repeat;}
.dept-tree .combo { background:url(../images/exam/deptbtn.png) no-repeat;}
.select-box .combo-arrow { background:url(../images/exam/tri.png) no-repeat 0 center;width:28px!important;float:right;}
.select-box .combo-text { width:50%!important;float:left;margin:0 0 0 10%;outline:none;text-align:center;font-size:18px;color:#666;}
.select-box .dept-tree .combo-text {width:65%!important;text-align:right;display:none; }
.check-btn { clear:both;margin:15px auto;text-align:center;}
.recheck-box { position:absolute;top:45px;right:30px;}
.begin-check-btn,.recheck-btn { background:url(../images/exam/exambtn.png) no-repeat;border:0 none;height:64px;width:187px;cursor:pointer;}
.recheck-btn { background:url(../images/exam/reexambtn.png) no-repeat;height:60px;width:183px;}

.selected-dept { width:90%;margin:10px auto 0;text-align:center;}
.selected-dept,.selected-dept span { color:#888;font-size:12px;}
.clear { clear:both;}
