@{
    ViewBag.Title = "Index";
}

@section head{
    <script type="text/javascript">
        $(document).ready(function () {
            wxUtil.getAccessToken();
        });

    </script>
}
<h2>Index</h2>
