<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!--超级管理员-->
  <add key="SuperAdmin" value="admin"/>
  
  <add key="UserImgUrl" value="/upload/user/"/>
  
  <!--微信-->
  <add key="Token" value="cuijiaqi"/>
  <add key="AppID" value="wxb168e779dd66f55e"/>
  <add key="AppSecret" value="b755bee79906e7b3499fb75c400f6ed6"/>
  
</appSettings>
